@import url("../../css/global.css");

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--gray-border);
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  max-width: calc(100% - var(--padding-container-base));
}

.menu_button {
  margin: 0 8px;
  padding: 12px 10px;
  border-radius: 8px;
  border: 0;
  color: var(--gray-primary);
  line-height: 20px;
  font-size: 15px;
}

.menu_button:hover {
  background-color: var(--grey-opacity100);
}

.menu_button.highlighted {
  background-color: var(--blue-primary);
  line-height: 10px;
  color: white;
  transition: background-color 0.2s ease, color 0.1s ease;
}

.menu_button.highlighted:hover {
  background-color: var(--blue-700);
}
